/*调用漫黑字体*/
@font-face {
  font-family: "LXGW M";
  src: url('../fonts/LXGWMarkerGothic-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Tanugo;
  src: url('../fonts/Tanugo-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: auto;
}

body {
  font-family: "LXGW M",sans-serif;
  text-align: center;
  transition: background-color 0.5s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
}
#cards {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0;
}
svg{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}
.svg-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  margin: 0;
 padding: 0;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

#elecode-elecode {
  position: absolute;
  transform: rotate(-90deg);
  right: -268px;
  top: 222px;
  font-size: 100px;
  letter-spacing:31px;
  text-shadow: 0 -1px 1px white;
}

#elecode-container {
  margin: 0 50px;
  position: relative;
  height: 570px;
  overflow: hidden;
}

#elecode-img,
#elecode-bg,
#elecode-symbol,
#elecode-latin,#elecode-emo
  {
  transition: opacity 0.5s ease-in-out;
}

#elecode-img {
  position: relative;
  max-width: 570px;
  max-height: 570px;
}

#elecode-bg {
  position: absolute;
  height: 1200px;
  top: 50%;
  left: 50%;
  transform: translate(-470px, -500px);
}

#elecode-emo{
  position: absolute;
  opacity: 0;
  top: 360px;
  left: -4px;
  height: 120px;
  z-index: 5;
}
#elecode-emo:hover{
  opacity: 1;
}

.code {
  position: absolute;
  top: -34px;
  right: 76px;
  font-size: 90px;
  font-family: "Microsoft YaHei",sans-serif;
}

#elecode-code {
  font-size: 120px;
}

#elecode-symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(90px, -200px);
  font-size: 200px;
  text-shadow: 0 0 0.5px white, 0 0 0.5px white, 0 0 0.5px white, 0 0 0.5px white,
    0 0 0.5px white, 0 0 0.5px white, 0 0 0.5px white, 0 0 0.5px white, 0 0 0.5px white, 0 0 0.5px white;

}

#elecode-latin {
  position: absolute;
  bottom: -12px;
  left: -6px;
  font-size: 100px;
  text-shadow: 1px -1px 1px white;
}

#elecode-cn {
  position: absolute;
  top: 360px;
  left: -4px;
  font-size: 120px;
  font-family: "LXGW M";
}

#elecode-jp {
  position: absolute;
  top: 413px;
  left: 150px;
  font-size: 60px;
  font-family: Tanugo;
  white-space: nowrap;
}

#elecode-buttons {
  position: relative;
  margin-top: 10px;
  white-space: nowrap;
  max-width: calc(80% - 30px);
  overflow-x: scroll;
  display: inline-block;
  z-index: 9;
}

#change {
  position: relative;
  z-index: 9;
  top: -6px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  margin: 0 5px 1px 5px;
  border: 2px solid transparent;
  border-color: #000;
  background-color: #f0f8ff;
  color: #000;
  box-shadow: 1px 1px #000;
}

.elecode-button {
  cursor: pointer;
  margin: 0 5px 1px 5px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  border-color: #000;
  display: inline-block;
  background-color: #f0f8ff;
  color: #000;
  box-shadow: 1px 1px #000;
}

.elecode-button:hover,
.elecode-button.active:hover {
  background-color: #888;
}

.elecode-button.active {
  background-color: #000;
  color: #f0f8ff;
}

.elecode-file1,
.elecode-file2 {
  font-family: "LXGW M";
  text-shadow: 0 0 0.5px white, 0 0 0.5px white, 0 0 0.5px white, 0 0 0.5px white,
    0 0 0.5px white, 0 0 0.5px white, 0 0 0.5px white, 0 0 0.5px white, 0 0 0.5px white, 0 0 0.5px white;
}

.elecode-file1 {
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 56px;
  line-height: 1.5;
  text-align: left;
}

.elecode-file1 span {
  font-size: 18px;
}

#elecode-f0,
#elecode-f1,
#elecode-f2,
#elecode-f3,
#elecode-f4,
#elecode-f5 {
  font-weight: normal;
  text-shadow: 0 0 0.5px black, 0 0 0.5px black, 0 0 0.5px black, 0 0 0.5px black,
    0 0 0.5px black, 0 0 0.5px black, 0 0 0.5px black, 0 0 0.5px black, 0 0 0.5px black, 0 0 0.5px black,
    0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white,
      0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;

}

.elecode-file2 {
  position: absolute;
  top: 290px;
  right: 130px;
  max-width: 240px;
  font-size: 60px;
  text-align: left;
  line-height: 0.5;
}

#elecode-f0 {
  font-size: 20px;
  line-height: normal;
}

#elecode-left,
#elecode-right {
  z-index: 10;
  position: fixed;
  width: 50px;
  height: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 50px;
  top: 50%;
  transform: translate(0, -50px);
  text-shadow: 0 0 0.5px white, 0 0 0.5px white, 0 0 0.5px white, 0 0 0.5px white,
    0 0 0.5px white, 0 0 0.5px white, 0 0 0.5px white, 0 0 0.5px white, 0 0 0.5px white, 0 0 0.5px white;
}

#elecode-left {
  left: 0;
}

#elecode-right {
  right: 0;
}

#para-left,
#para-right {
  /* 背景裁切平行四边形的外侧*/
  position: absolute;
  width: 4000px;
  height: 4000px;
  background-color: white;
  top: 50%;
  left: 50%;
}

#para-left {
  transform: translate(420px, -2000px) rotate(60deg);
}

#para-right {
  transform: translate(-4420px, -2000px) rotate(60deg);
}

@media only screen and (max-width: 820px) {
  #elecode-latin {
    bottom: -1.4vw;
    left: -0.8vw;
    font-size: 12vw;
  }

  #elecode-container {
    margin: 0;
  }

  .code {
    font-size: 10vw;
    top: -4vw;
  }

  #elecode-code {
    font-size: 14vw;
  }

  #elecode-jp {
    top: 427px;
    font-size: 48px;
    left: 120px;
  }

  #elecode-symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(12vw, -24vw);
    font-size: 24vw;
  }

  .elecode-file1 {
    position: relative;
    display: block;
    float: left;
    width: 240px;
    top: 30px;
    left: 40px;
    font-size: 20px;
    border-radius: 5px;
    background-color: white;
    text-align: center;
  }

  .elecode-file1 span {
    font-size: 14px;
  }

  .elecode-file2 {
    position: relative;
    display: block;
    float: right;
    margin: 30px;
    top: 10px;
    right: 10px;
    width: 240px;
  }

  #elecode-f0 {
    background-color: white;
    border-radius: 5px;
    padding: 10px
  }

}

/*工牌*/
.card {
  position: absolute;
  top: 120px;
  width: 280px;
  height: 460px;
  background-color: #e0deda;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.card:hover {
  animation: rotate 2s linear infinite;
  transform-origin: 50% 3%;
}

#rope{
  z-index: 8;
  position: absolute;
  top: -103px;
  left: 50%;
  transform: translate(-50%, 0);
}

#hole{
  width: 36px;
  height: 10px;
  margin: 13px auto;
  border-radius: 5px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s ease;
}

.cardbox {/*名片3：5*/
  width: 240px;
  height: 400px; 
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
}

#cardtitle {
  font-size: 36px;
  font-weight: bold;
  color: red;
  text-align: center;
  text-shadow: 1px 1px white;
  border-radius: 10px 10px 0 0;
  padding: 5px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3), inset 0 -1px 0 #aaa;
  background-color: #aaa;
}

.cardphoto {/*证件照之后考虑改成2：3或者身份证比例*/
  width: 130px;
  height: 150px;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.cardphoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardinfo {
  font-size: 20px;
  width: 160px;
  margin: 0 auto;
  font-family:  "Microsoft YaHei",sans-serif;;
}
.cardinfo div{
  padding: 4px;
}
.cardinfo span{
  font-family: "LXGW M";
  display: inline-block;
  text-align: center;
  width: calc(100% - 3em);
  border-bottom: 2px dashed #aaa;
}

@keyframes rotate {
  25% {transform: rotate(3deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(-3deg);}
  100% {transform: rotate(0deg);}
}
@media only screen and (max-width: 600px) {
  #elecode-elecode {
    display: none;
  }

  #elecode-jp {
    top: auto;
    bottom: 9vw;
    font-size: 8vw;
    left: 0;
  }

  #elecode-symbol {
    top: 50%;
    left: 50%;
    transform: translate(72px, -144px);
    font-size: 24vw;
  }

  .code {
    right: -0.5vw;
  }

  .elecode-file1 {
    max-width: 240px;
    left: auto;
    margin: auto;
    float: none;
  }

  .elecode-file2 {
    right: auto;
    top: 60px;
    margin: auto;
    float: none;
  }
}
