a{
  color:#478cdc;
}

/*主体背景*/
.container{
  background-color:#f1f5f8;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #f2f2f2;
  box-sizing: border-box;
  overflow:hidden;
}
/*左侧菜单*/
.menubar{
  border-right: 1px solid #eee;
}
.menu-filter svg {
  color:#478cdc;
}
.menu-search svg {
  color:#478cdc;
}
.menubar h4.on svg {
  color:#478cdc;
}
.menubar h4.on a {
  color:#478cdc;
}
.menubar h4, .menubar h5 {
  border:1px solid #FFFFFF;
}
.menu-search{
  border-left:none;
  border-bottom: 1px solid #eee;
}
.menu-filter{
  border-bottom: 1px solid #eee;
  padding-left: 6px;
  width: 205px;
}
.menu-filter input {
  border-bottom: none;
  width:170px;
  text-align: left;
  height:30px;
}
.menu-filter i {
  line-height: 36px;
  margin-top:2px;
}
.menu-filter:hover input {
  border-bottom: none;
}
.menu-filter input:focus {
outline: none;
  border-bottom: none;
}
.menu-filter svg{
  display:none;
}
.container .nav {
  background-color: #ffffff;
  border:none;
}
/*右侧内容*/
.main-inner{
  background-color: #ffffff;
  border:none;
}
/*搜索功能*/
.search-update input {
  background-color: #eee;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  height: 30px;
  line-height: 28px;
  padding: 1px 10px;
  width: 110px;
  font-size:14px;
  color: #666;
}
.search-update input[disabled] {
  color: #ccc;
  background: #f2f2f2;
  border: #aaa 1px solid;
  padding: 1px 10px;
  border-radius: 15px;
  cursor:not-allowed;
}
.search-update input:hover{
  background-color: #f4f4f4;
}
.search-input input[type="button"] {
  font-size: 14px;
  background-color: #1B9AF7;
  color:#f2f2f2;
  border: none;
  height: 44px;
  padding-left:3px;
  padding-right:3px;
  outline:none;
}
.search-input input[type="button"]:hover{
  background-color: #41afff;
}

.search-input{
  padding-right: 105px;
}

.search-input input[type="text"]{
  border-color:#eee;
  font-size: 14px;
  padding:11px;
}
.search-input input[type="text"]:focus{
  border-color:#478cdc;
  box-shadow: none;
}

/*返回顶部*/
aside .contents{
  background: #eee;
  color: #666;
  box-shadow: 0px 0px 5px #f2f2f2;
  border: 1px solid #f2f2f2;
}
aside .contents-list{
  background: #fafafa;
  border: 1px solid #eee;
}
aside .contents a{
  color: #444;
}

aside .contents a:hover{
  color: #478cdc;
}
aside .contents .markdown-contents ol li>i{
  color: #666;
  background-color: #f2f2f2;
  padding: 0 5px;
  border-radius: 4px;
  line-height: 20px;
}
aside .back-top{
  background: #eee;
  color: #666;
  box-shadow: 0px 0px 5px #f2f2f2;
  border: 1px solid #f2f2f2;
}

/*底部签名*/
.signature{
  display:none;
}

/*markdown语法*/
.markdown-body h1 {
  margin-top: 50px;
  font-size: 30px;
}
.markdown-body h2 {
  font-size: 26px;
}
.markdown-body h3 {
  font-size: 22px;
}
.markdown-body code, .markdown-body tt {
padding: 0;
font-size:14px;
background-color:#f1f8ff;
color: #0366d6;
height:20px;
margin:5px 3px;
padding:3px 0px;
white-space: normal;
line-height:2.0;
}
.markdown-body img {
  text-align:center;
  margin: 10px auto;
  display:block;
}
.markdown-body table {
  margin-left:auto;
  margin-right:auto;
  width:auto;
  display:table;
}

.markdown-body pre code {
    font-size:14px;
}

@media screen and (max-width: 720px){
  .header .logo img{
    display:none;
  }
  .header .logo b {
      line-height:49px;
      height:49px;
  }
  .header .logo {
    padding-top: 0;
  }
  .container{
    background-color:#f1f5f8;
    border: none;
    border-radius: none;
    box-shadow: none;
    box-sizing: border-box;
    overflow:hidden;
  }
  .container .nav{
    background: #242424;
  }
  .menu-filter{
    width:100%;
  }
}
