/*调用Honoka字体*/
@font-face {
    font-family: HonokaGothic;
		src: url('https://huiji-public.huijistatic.com/xyy/uploads/3/3c/HonokaGothicMoe2.ttf');
		src: url('./sourcehansanselements-webfont.woff2') format('woff2'),
         url('./sourcehansanselements-webfont.woff') format('woff'),
         url('./SourceHanSansElements.svg') format('svg'),
				 url('./SourceHanSansElements.ttf') format('turetype');
		font-weight: normal;
    font-style: normal;
}
aside .contents,.markdown-contents,aside .back-text,.search-box,.header, .container{
    font-family: Microsoft YaHei,STXihei,STHeiti,Verdana,Arial,Helvetica,sans-serif,HonokaGothic;
}

/*搜索功能*/
.search-update input {
  background-color: #eee;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  height: 30px;
  line-height: 28px;
  padding: 1px 10px;
  width: 110px;
  font-size:14px;
  color: #666;
}
.search-update input[disabled] {
  color: #ccc;
  background: #f2f2f2;
  border: #aaa 1px solid;
  padding: 1px 10px;
  border-radius: 15px;
  cursor:not-allowed;
}
.search-update input:hover{
  background-color: #f4f4f4;
}
.search-input input[type="button"] {
  font-size: 14px;
  background-color: #1B9AF7;
  color:#f2f2f2;
  border: none;
  height: 44px;
  padding-left:3px;
  padding-right:3px;
  outline:none;
}
.search-input input[type="button"]:hover{
  background-color: #41afff;
}

.search-input{
  padding-right: 105px;
}

.search-input input[type="text"]{
  border-color:#eee;
  font-size: 14px;
  padding:11px;
}
.search-input input[type="text"]:focus{
  border-color:#478cdc;
  box-shadow: none;
}

/*返回顶部*/
aside .contents{
  background: #eee;
  color: #666;
  box-shadow: 0px 0px 5px #f2f2f2;
  border: 1px solid #f2f2f2;
}
aside .contents-list{
  background: #fafafa;
  border: 1px solid #eee;
}
aside .contents a{
  color: #444;
}

aside .contents a:hover{
  color: #478cdc;
}
aside .contents .markdown-contents ol li>i{
  color: #666;
  background-color: #f2f2f2;
  padding: 0 5px;
  border-radius: 4px;
  line-height: 20px;
}
aside .back-top{
  background: #eee;
  color: #666;
  box-shadow: 0px 0px 5px #f2f2f2;
  border: 1px solid #f2f2f2;
}

/*markdown语法*/
.markdown-body h1 {
  margin-top: 50px;
  font-size: 35px;
}
.markdown-body h2 {
  font-size: 26px;
}
.markdown-body h3 {
  font-size: 22px;
}
.markdown-body blockquote{
  padding:12px 12px;
  background-color:#f0fcff;
  border-radius:3px;
  font-size: 14px;
  color:#41555d;
}

.markdown-body code, .markdown-body tt {
padding: 0;
font-size:14px;
background-color:#50616d;
color: #e3f9fd;
height:20px;
margin:5px 3px;
padding:3px 0px;
white-space: normal;
line-height:2.0;
}
.markdown-body img {
  text-align:center;
  margin: 10px auto;
  display:block;
}


.markdown-body pre code {
    font-size:14px;color:#e3f9fd;
}
